<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <h4 class="mypage-title"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報詳細</h4>
    </div>
      <div class="col-md-9"></div>
  </div>
  <div class="row">
    <div class="col-md-8">
    <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
    <table class="table order-customer-table">
      <tbody>
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <th>氏名</th>
          <td>
            <%= @customer.last_name %>
            <%= @customer.first_name %>
          </td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td>
            <%= @customer.last_name_kana %>
            <%= @customer.first_name_kana %>
          </td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td>
            <%= @customer.email %>
          </td>
        </tr>

        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <td>
            <div>
              <%= @customer.postcode %>
            </div>
          </td>
        </tr>

        <tr>
          <th>住所</th>
          <td colspan="2">
            <%= @customer.residence %>
          </td>
        </tr>

        <tr>
          <th>電話番号(ハイフンなし)</th>
          <td>
            <div class="field">
              <%= @customer.phone_number %>
            </div>
          </td>
        </tr>

        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_active == true %>
              <span class="text-success font-weight-bold">有効</span>
            <% else %>
              <span class="text-danger font-weight-bold">退会</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
            <div class="actions">
              <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-success" %>
              <%= link_to "注文履歴一覧をみる", admin_root_path, class:"btn btn-primary ml-3" %>
            </div>
    <% end %>
  </div>
</div>

