<div class="container">
  <div class="row">
        <div class="col-md-10">
          <form class="table table-noborder">
          <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
          <div class="field">
            <%= f.label :last_name, "郵便番号(ハイフンなし)" %>
            <%= f.text_field :last_name, autofocus: true, placeholder: "0000000", class:"ml-3" %>
          </div>
          <div class="field">
            <%= f.label :last_name, "住所" %>
            <%= f.text_field :last_name, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", class:"ml-3" %>
          </div>
          <div class="field">
            <%= f.label :last_name, "宛名" %>
            <%= f.text_field :last_name, autofocus: true, placeholder: "令和道子", class:"ml-3" %>
              <span><button type="button" class="btn btn-primary">新規登録</button></span>
            <% end %>
            </div>
          </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <table class="table table-bordered ml-3">
        <thead>
          <tr class="success">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2440812</td>
            <td>神奈川県横浜市戸塚区柏尾町3-9-10</td>
            <td>梅木匠</td>
            <td>
              <button type="button" class="btn btn-success">編集する</button>
              <button type="button" class="btn btn-danger">削除する</button>
            </td>
          </tr>
          <tr>
            <td>4001114</td>
            <td>山梨県甲斐市打返4-14-19</td>
            <td>小沢時男</td>
            <td>
              <button type="button" class="btn btn-success">編集する</button>
              <button type="button" class="btn btn-danger">削除する</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>