<h2>ショッピングカート</h2>
<%= link_to "カートを空にする", public_cart_item_destroy_path(@cart_item), data: {confirm: 'カートを空にして本当によろしいですか？'}, method: :delete %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @total_price = 0 %>
    <% @cart_item.each do |cart_item|%>
      <tr>
        <td><%= attachment_image_tag(cart_item.product, :image, :fill, 80, 100, format: 'jpeg', size:"100×100",fallback: "no_image.jpg") %><%= cart_item.product.name %></td>
        <td><%= cart_item.product.add_tax_tax_out_price %></td>
        <td>
          <%= form_with model:@cart_item_quantity,  url: public_cart_item_path(cart_item) , method: :patch , local: true do |f| %>
            <%= cart_item.quantity %>
            <%= f.select :quantity , *[1..10] %>
            <%= f.submit "変更", class: "btn btn-info" %>
          <% end %>
        </td>
        <td><%= cart_item.product.add_tax_tax_out_price*cart_item.quantity %><% @sub_price = cart_item.product.add_tax_tax_out_price*cart_item.quantity %></td>
        <td><%= link_to "削除する", public_cart_item_path(cart_item), method: :delete %></td>
      </tr>
      <% @total_price += @sub_price %>
    <% end %>
  </tbody>
</table>
<table class="table table-bordered">
  <thead><tr>合計金額  <%= @total_price %></tr><tr></tr></thead>
</table>

<%= link_to"買い物を続ける", public_root_path %>

<%= link_to "情報入力に進む", new_public_order_path(@cart_item) %>


