<div class="container">
  <div class="row">
    <h4 class="customer-new">商品詳細</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
        <div class="id img-field"><%= attachment_image_tag(@product, :image, :fill, 300, 300, format: 'jpeg', size:"100×100",fallback: "no_image.jpg") %></div>
      </div>
      <div class="col-md-8">
        <table class="table order-customer-table">
          <tbody>
            <tr>
              <th>商品名</th>
              <td><%= @product.name %></td>
            </tr>
            <tr>
              <th>商品説明</th>
              <td><%= @product.introduction %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= @product.genre.name %></td>
            </tr>
            <tr>
              <th>税込価格（税抜価格）</th>
              <td><%= @product.add_tax_tax_out_price.to_s(:delimited) %>(<%= @product.tax_out_price.to_s(:delimited) %>)円</td>
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td class="font-weight-bold h5">
                <% if @product.is_sale_active == true %>
                  <span class="text-success font-weight-bold">販売中</span>
                <% else %>
                  <span class="text-danger font-weight-bold">販売停止中</span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <div class="acstions col-md-12">
        <%= link_to "編集する", edit_admin_product_path(@product), data: {"turbolinks" => false}, class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
      </div>
      </div>
    </div>
  </div>
</div>