<div class ="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <h4 class="cart-item-title">注文情報確認</h4>
    </div>
    <div class="col-md-7"></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table order-confirm-table">
        <thead>
          <tr>
        　　<td>商品名</td>
            <td>単価(税込)</td>
            <td>数量</td>
            <td>小計</td>
          </tr>
        </thead>
        <tbody>
          <% @total_price = 0 %>
          <% @cart_item.each do |cart| %>
          <tr>
            <th>
              <%= attachment_image_tag(cart.product, :image, :fill, 80, 100, format: 'jpeg', size:"100×100",fallback: "no_image.jpg") %>
              <%= cart.product.name %>
            </th>
            <th>¥
              <%= cart.product.add_tax_tax_out_price %>
            </th>
            <th>
              <%= cart.quantity %>
            </th>
            <th>¥
              <%= @sub_price = cart.product.add_tax_tax_out_price*cart.quantity %>
            </th>
          </tr>
          <% @total_price += @sub_price %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table price-index-table">
        <tbody>
          <tr>
            <td>送料</td>
            <th>¥<%= @order.postage %></th>
          </tr>
          <tr>
            <td>商品合計</td>
            <th>¥<%= @total_price.to_s(:delimited) %></th>
          </tr>
          <tr>
            <td>請求金額</td>
            <th>¥<%= (@total_price + @order.postage).to_s(:delimited) %></th>
          </tr>
        </tbody>
    　</table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5><b>支払方法</b>　　<%= @order.payment_method_i18n %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5><b>お届け先</b>　　<%= @order.deliveries_postcode %><%= @order.address  %></h5>
      <h5><%="　　　　　　" %><%= @order.name %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 rounded order-finish-button">
      <%= form_with model: @order, url: public_orders_path, local: true do |f|%>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :postage %>
        <%= f.hidden_field :total_price,value: @total_price + @order.postage %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :deliveries_postcode %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :status %>
        <%=  f.submit "注文を確定する", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>