<div class "container">
  <div class"row">
    <h2>注文情報入力</h2>

    <%= form_with model: @order, url: confirm_public_orders_path, local: true do |f|  %>
    <div class="order bold">支払い方法</div></br>
    <div class="payment_method">
      <%= f.radio_button :payment_method, :credit_card %>クレジットカード</br>
      <%= f.radio_button :payment_method, :transfer %> 現金振込</br>
    </div>
    <div class="order">お届け先</div></br>
    <div class="adress">
      <%= f.radio_button :flag, 1 %>
      ご自身の住所</br>
      <%= @customer.postcode %>
      <%= @customer.residence %>
      <%= @customer.last_name %>
      <%= @customer.first_name %></br>
      <%= f.radio_button :flag, 2 %>
      登録済み住所から選択</br>
      <%= f.corection_select :juusyo, Delivery.all, :id, 
      </br>
      <%= f.radio_button :flag, 3 %>
      新しいお届け先</br>
      郵便番号（ハイフン無し）<%= f.text_field :postcode %></br>
      住所<%= f.text_field :residence %></br>
      宛名<%= f.text_field :name %></br>
    </div>
    <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
